<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Carrito de compras </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of cart.items">
      <ion-thumbnail slot="start">
        <img [src]="item.product.photo" alt="{{ item.product.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.product.name }}</h2>
        <p>{{ item.product.description }}</p>
        <p>Precio: ${{ item.product.price }}</p>
        <p>Cantidad: {{ item.quantity }}</p>
      </ion-label>
      <ion-button (click)="promptRemoveItem(item)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Total:</ion-label>
    <ion-note slot="end" class="total-amount">{{ cart.total | currency:'MXN':'symbol':'1.2-2' }}</ion-note>
    <ion-button (click)="confirmProducts()" expand="block" fill="clear" shape="round">
      Comprar <ion-icon name="card-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
